@font-face {
  font-family: "Noto Serif Hebrew";
  src: url("/kadmos/assets/fonts/subset/NotoSerifHebrew.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Sans Hebrew";
  src: url("/kadmos/assets/fonts/subset/NotoSansHebrew.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Rashi Hebrew";
  src: url("/kadmos/assets/fonts/subset/NotoRashiHebrew.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/kadmos/assets/fonts/subset/NotoSerif.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/kadmos/assets/fonts/subset/NotoSans.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Junicode";
  src: url("/kadmos/assets/fonts/subset/Junicode.woff2");
  font-display: swap;
  font-weight: 300 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "ENLA" 0;
}

@font-feature-values "Junicode" {
  @styleset {
    Early-English-futhorc: 12;
    Elder-futhark: 13;
    Younger-futhark: 14;
    Long-branch-to-short-twig: 15;
    Latin-to-Gothic: 19;
  }
}