/**************** FONTS ****************/
/*
@font-face {
    font-family: "Noto Serif Hebrew";
    src: url("assets/NotoSerifHebrew.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 100%;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans Hebrew";
    src: url("assets/NotoSansHebrew.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 100%;
    font-optical-sizing: auto;
    font-style: normal;
}*/

@font-face {
    font-family: Junicode;
    src: url("assets/Junicode.woff2") format("woff2");
    font-weight: 300 700;
    font-stretch: 100%;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "ENLA" 0.5;
}

/**************** ROOT VARIABLES ****************/
:root {
    --char-font-weight: 400;
    --char-font-family: "Noto Serif", serif;
    --char-font-size: 7.5rem;
    --char-one-cqw: 120cqw;
    --char-two-cqw: 70cqw;
    --char-scale: 1;
    --char-shift: 0;
    --bg-grey-light: #f6f6f6;
    --bg-grey: #d4d9df;
    --border-grey-light: #c4c4c4;
    --text-grey: #888a91;
}

/**************** PAGE ****************/
#page {
    max-width: 30rem;
    padding: 0.5rem 0.8rem;
    margin: auto;
    min-height: 100%;
}

#game-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 44% 28% 28%;
    gap: .2em;
    align-items: stretch;
    margin-bottom: 2rem;
}


/**************** HEADER ****************/
#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
}

h2 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 1em;
}

#counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}

#scriptSelect {
    width: auto;
    text-overflow: ellipsis;
}

label[for="scriptSelect"] {
    transform: scale(.85) translateY(-.7rem) !important;
}

/**************** SETTINGS ****************/
.range-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -.2rem;
}

.range-value {
    font-weight: bold;
}

#settings {
    background: var(--bg-grey-light);
    --bs-secondary-bg: var(--bg-grey); /* slider background */
    padding: .3rem .6rem .1rem .6rem;
}

#settings h4 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: .4rem;
}

.setting {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-grey-light);
    padding: .3rem 0;
}

.setting .form-check {
    display: flex;
    align-items: center;
    gap: .6em;
    padding-left: 0;
}

.setting .form-check label {
    line-height: 1.25;
}

.setting .form-check .form-check-input {
    margin-top: 0;
    margin-left: 0;
    width: 2rem;
    margin-left: 1.5rem;
}

.setting-labeled {
    display: flex;
    flex-direction: row;
    gap: .6rem;
    align-items: center;
}

.setting-labeled .btn {
    font-size: 0.9em;
    padding: 0.36em 0.6em;
    margin: 0.2em 0;
    line-height: 1.15em;
    display: flex;
    align-items: center;
}

.setting-label {
    text-align: right;
    min-width: 3.5rem;
}


/**************** CHAR DISPLAY ****************/
.char-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-grey-light);
    height: 10rem;

    container-type: size;

    font-family: var(--char-font-family);
    font-weight: var(--char-font-weight);
}

.char-display .char {
    font-size: calc(var(--char-scale) * min(var(--char-font-size), var(--char-one-cqw)));
    margin-bottom: var(--char-shift);
    line-height: 0.7em;
    text-align: center;
}

.char-display .char.two-chars {
    font-size: calc(var(--char-scale) * min(var(--char-font-size), var(--char-two-cqw)));
}

#display-entered {
    color: var(--text-grey);
}



/**************** EVAL FIELDS ****************/
.eval-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
}

.eval-field {
    padding: .22rem;
    background: var(--bg-grey-light);
}

.eval-field.correct {
    background: rgb(188, 250, 188);
}

.eval-field.incorrect {
    background: rgb(255, 206, 216);
}

.eval-solution {
    text-transform: capitalize;
}

#eval-headings {
    grid-column: 2;
}

.eval-heading {
    font-size: .8em;
    font-weight: bold;
    margin-bottom: -.25rem;
}

.input-container input {
    width: 100%;
}
