/**************** FONTS ****************/
@font-face {
    font-family: Junicode;
    src: url("assets/Junicode.woff2") format("woff2");
    font-weight: 300 700;
    font-stretch: 100%;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "ENLA" 0.5;
}

/**************** ROOT VARIABLES ****************/
:root {
    --symbol-font-weight: 400;
    --symbol-font-family: "Noto Serif", serif;
    --symbol-font-size: 7.5rem;
    --symbol-font-scale: 1;
    --symbol-shift: 0;
    --game-name-scale: 1;

    --bg-grey-light: #f4f4f4;
    --bg-grey: #c3cbd5;
    --border-grey-light: #c9cdd0;
    --border-blue-light: #69beff;
    --bs-border-color: var(--border-grey-light);
    --blue: #0c8aea;

    --bg-light-red: rgb(255, 206, 216);
    --bg-light-yellow: rgb(255, 244, 152);
    --bg-light-green: rgb(188, 250, 188);

    --text-grey: #888c91;
    --bs-font-sans-serif: "Ubuntu Sans";

    --button-green: hsl(146, 100%, 40%);
    --button-green-active: hsl(146, 100%, 36%);
    --button-red: hsl(343, 100%, 47%);
    --button-red-active: hsl(343, 100%, 43%);
    --button-grey: hsl(212, 8%, 54%);
    --button-grey-active: hsl(212, 8%, 50%);

    --heading-scale: 1;

    font-size: 16px;
}

.btn-outline-primary {
    border-radius: 0;
    --bs-btn-active-bg: var(--blue);
    --bs-btn-active-border-color: var(--blue);
    --bs-btn-color: var(--blue);
    --bs-btn-border-color: var(--blue);
    --bs-btn-hover-bg: var(--blue);
    --bs-btn-hover-border-color: var(--blue);
}

.form-check-input:checked {
    background-color: var(--blue);
    border-color: var(--blue);
}

.form-range::-moz-range-thumb {
    background: var(--blue);
}

.hidden {
    display: none;
}

/**************** PAGE ****************/
#page {
    max-width: 26rem;
    margin: auto;
    padding: 0.3rem 0.7rem 0.5rem;
    min-height: 100vh;
    position: relative;
}

.game-grid {
    width: 100%;
    display: grid;
    --gap: .2em;
    grid-template-columns: 40% repeat(2, calc(30% - var(--gap)));
    gap: .2em;
    align-items: stretch;
    margin-bottom: .2em;
}

#game-symbols {
    container-type: inline-size;
    height: 10rem;
}


/**************** NEW GAME DIALOGUE ****************/
h2 {
    font-weight: 750;
    margin-bottom: 0;
    line-height: 1em;
}

h4 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: .4rem;
}

.heading-with-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 0 .5rem;
    gap: .3rem;
    font-size: calc(var(--heading-scale) * 1.7rem);
}

.heading-with-button h2 {
    flex-grow: 1;
    text-wrap: nowrap;
    font-size: 1em;
}

#last-game-heading, #game-heading {
    border-bottom: 1px solid var(--border-grey-light);
}

#game-heading {
    margin-bottom: .25rem;
}

.heading-with-button.rtl {
    flex-direction: row-reverse;
}

.heading-with-button.rtl h2 {
    text-align: right;
}

.game-name {
    font-size: calc(var(--game-name-scale) * 1em);
}

.heading-with-button .symbol-button {
    font-size: 2.2rem;
    line-height: 0;
    width: 0.8em;
    display: flex;
    justify-content: center;
}

.symbol-button {
    cursor: pointer;
    user-select: none;
}

.play-button {
    color: var(--button-green);
}
.play-button:active {
    color: var(--button-green-active);
}
.stop-button {
    color: var(--button-red);
}
.stop-button:active {
    color: var(--button-red-active);
}
.pause-button {
    color: var(--button-grey);
}
.pause-button:active {
    color: var(--button-grey-active);
}

#score-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    border-bottom: 1px solid var(--border-grey-light);
}

#score-display .score-label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 1.5rem;
}

#score-display-value {
    font-size: 3.5rem;
    font-weight: 750;
}

#last-game-score {
    margin-bottom: 0.3rem;
}

/**************** HEADER ****************/
#counters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}

/**************** SETTINGS ****************/
.range-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -.2rem;
}

.range-value {
    font-weight: bold;
}

#game-font-settings {
    margin-top: 2rem;
    background: var(--bg-grey-light);
    --bs-secondary-bg: var(--bg-grey); /* slider background */
    padding: .3rem .6rem .1rem .6rem;
}

.setting {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-grey-light);
    padding: .3rem 0;
    overflow-x: hidden;
}

.setting.no-border-top {
    border-top: none;
}

.setting .btn-group {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.setting .btn {
    text-wrap: nowrap;
}

.setting .btn-group::-webkit-scrollbar {
    display: none;
}

.invalid-setting {
    background: var(--bg-light-red);
}

.form-select:focus, .form-check-input:focus {
    box-shadow: none;
}

.setting .form-check {
    display: flex;
    align-items: center;
    gap: .6em;
    padding-left: 0;
}

.form-check label {
    line-height: 1.25;
}

.setting .form-check .form-check-input {
    margin-top: 0;
    margin-left: 0;
    width: 2.2rem;
    margin-left: 3.3rem;
}

.setting-labeled {
    display: flex;
    flex-direction: row;
    gap: .6rem;
    align-items: center;
}

.setting-labeled .btn {
    font-size: 0.9rem;
    padding: 0.3rem 0.55rem;
    margin: 0.2rem 0;
    line-height: 1.15em;
    display: flex;
    align-items: center;
}

#new-game-settings .setting-label {
    text-align: right;
    min-width: 5.5rem;
}

#dataset-setting {
    padding: 0;
    margin-top: .3rem;
}

#datasetSelect {
    height: calc(3rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3rem + calc(var(--bs-border-width) * 2));
    padding-top: 1.35rem;
    border-radius: 0;
    border-width: 0 1px;
}

#datasetSelect ~ label {
    transform: scale(.85) translateY(-.7rem) translateX(.15rem)
}

#datasetSelectContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-grey-light);
    border-width: 1px 1px 1px 0;
}

#totalSymbolCountContainer {
    text-align: right;
    text-wrap: nowrap;
    padding: 0 1rem;
}

.capitalize {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase;
}
.uppercase {
    text-transform: uppercase;
}


/**************** CHAR DISPLAY ****************/
.symbol-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-grey-light);

    font-family: var(--symbol-font-family);
    font-weight: var(--symbol-font-weight);
}

.symbol-display .symbol {
    --symbol-scale: 1;
    font-size: calc(var(--symbol-font-scale) * var(--symbol-font-size));
    transform: scale(var(--symbol-scale)) translateY(var(--symbol-shift));
    line-height: 1em;
    text-align: center;
    text-wrap: nowrap;
    padding: 0 .12em;
}

#guessed-symbol {
    color: var(--text-grey);
}

#guessed-symbol, #previous-symbol {
    --symbol-font-size: min(2.5rem + 19cqw, 6rem);
}

#current-symbol {
    --symbol-font-size: min(calc(2.5rem + 20cqw), 7.5rem);
}



/**************** EVAL FIELDS ****************/
.eval-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .25rem;
}

.eval-field {
    padding: .25rem .35rem;
    background: var(--bg-grey-light);
    text-wrap: nowrap;
    overflow-x: scroll;
}

.eval-field.correct {
    background: var(--bg-light-green);
}

.eval-field.incorrect {
    background: var(--bg-light-red);
}

.eval-field.almost-correct {
    background: var(--bg-light-yellow);
}

#eval-headings {
    grid-column: 2;
}

.eval-heading {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: -.5rem;
    transform: translateX(-10%) scale(.8);
}

.game-input {
    padding: .1rem .3rem;
    border-style: solid;
    border-color: var(--border-grey-light);
    border-width: 2px;
}

.game-input:focus {
    outline: none;
    border-color: var(--border-blue-light);
}

.game-input::placeholder {
    color: var(--text-grey);
}