@font-face {
  font-family: "Noto Serif Hebrew";
  src: url("/kadmos/assets/fonts/NotoSerifHebrew.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Sans Hebrew";
  src: url("/kadmos/assets/fonts/NotoSansHebrew.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Rashi Hebrew";
  src: url("/kadmos/assets/fonts/NotoRashiHebrew.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/kadmos/assets/fonts/NotoSerif.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/kadmos/assets/fonts/NotoSans.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Sans Japanese";
  src: url("/kadmos/assets/fonts/NotoSansJapanese.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif Japanese";
  src: url("/kadmos/assets/fonts/NotoSerifJapanese.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Arabic";
  src: url("/kadmos/assets/fonts/NotoSansArabic.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("/kadmos/assets/fonts/NotoKufiArabic.woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("/kadmos/assets/fonts/NotoNaskhArabic.woff2");
  font-display: swap;
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Phoenician";
  src: url("/kadmos/assets/fonts/NotoSansPhoenician.woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("/kadmos/assets/fonts/Junicode.woff2");
  font-display: swap;
  font-weight: 300 700;
  font-style: normal;
  font-variation-settings: "wdth" 100, "ENLA" 0;
}

@font-feature-values "Junicode" {
  @styleset {
    Early-English-futhorc: 12;
    Elder-futhark: 13;
    Younger-futhark: 14;
    Long-branch-to-short-twig: 15;
    Latin-to-Gothic: 19;
  }
}