/******************** RESET ***********************/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


/************************* BASE VARS ***********************/
:root {
    --accent-text: hsl(210, 95%, 97.5%);
    --accent-300: hsl(210, 95%, 70%);
    --accent-400: hsl(210, 89%, 55%);
    --accent-500: hsl(210, 89%, 45%);
    --accent-600: hsl(210, 89%, 38%);
    --accent-800: hsl(210, 89%, 15%);

    --clr-background: hsl(0, 0%, 8%);
    --clr-surface: hsl(216, 7.5%, 13.1%);
    --clr-input: hsl(0, 0%, 21%);

    --clr-border: hsl(0, 0%, 40%);
    --clr-inset-shadow: hsl(0, 0%, 100%, 0.35);
    --clr-outset-shadow: black;

    --clr-text-soft: hsl(0, 0%, 87%);
    --clr-text: hsl(0, 0%, 95%);

    --clr-text-accent: var(--clr-text);

    --clr-button: hsl(0, 0%, 26.3%);
    --clr-button-active: var(--clr-input);
    --clr-button-checked: var(--clr-text);
    --clr-button-checked-active: var(--clr-text-soft);

    --clr-text-checked: var(--clr-background);
    --clr-text-checked-accent: var(--clr-input);

    --border-radius-small: .4rem;

    --text-green: hsl(118, 70.6%, 66.7%);
    --text-yellow: hsl(53.5, 98.1%, 59.4%);
    --text-red: hsl(351.5, 100%, 69.4%);

    --clr-input-active: var(--clr-surface);

    @media (prefers-color-scheme: dark) {

    }

    --font-scale: 1;
    --font-shift: 0;
    --font-base-size: 1em;
}

html {
    color-scheme: dark light;
}

body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    min-height: 100vh;

    max-width: 26rem;
    margin: auto;
    padding: 0.625rem 0.75rem;
}

.font-transform {
    scale: var(--font-scale);
    transform-origin: left center;
    translate: 0 calc(var(--font-shift) * 1em);
}


/****************** HEADINGS ******************/
h1 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.25;
    margin-block-end: .175rem;
}

h2 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-block: .75rem .25rem;
}

.heading-with-button {
    display: flex;
    flex-direction: row;
}

#game-heading {
    padding-inline: .125rem;
}

.heading-with-button > h1 {
    flex: 1;
}


/******************** SETTINGS *********************/
.settings {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
    padding-block: .625rem;
}

.settings:not(:has(> .setting:not(.hidden))) {
    display: none;
}

.labeled-value-element {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .1rem;
}

.labeled-value-element > label {
    font-weight: 600;
    font-size: .9rem;
    color: var(--clr-text-soft);
}

#dataset-settings {
    border-bottom: 1px solid var(--clr-border);
}


/********************** BUTTONS *******************/
.button-group {
    display: flex;
    gap: .25rem;
}

.button-group > input {
    display: none;
}

.button-group > .button {
    border-radius: 0;
}

.button-group > .button:first-of-type {
    border-top-left-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
}

.button-group > .button:last-of-type {
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}

.button {
    padding: .4em .6em;
    background: var(--clr-button);
    font-weight: 650;
    font-size: 1rem;

    border-radius: var(--border-radius-small);
    cursor: pointer;
    user-select: none;
}

input:not(:disabled) + .button:active {
    background: var(--clr-button-active);
}

input:disabled + .button {
    opacity: .75;
    cursor: default;
}

input:checked + .button {
    background: var(--clr-button-checked);
    color: var(--clr-text-checked);
}

input:not(:disabled):checked + .button:active {
    background: var(--clr-button-checked-active);
    color: var(--clr-text-checked-accent);
}


input[type="button"] {
    appearance: none;
    -webkit-appearance: none;
    background: var(--accent-500);
    color: var(--accent-text);
    font-weight: 700;
    padding: .5em .7em;
    outline: none;
    border: none;
    border-radius: var(--border-radius-small);
    cursor: pointer;

}

input[type="button"]:active {
    background: var(--accent-600);
}

input[type="button"]:focus {
    box-shadow: 0 0 .2rem 0 var(--accent-300);
}


/************************* INPUTS, SELECT ***************/
input[type="text"], select, .item-eval {
    border-radius: var(--border-radius-small);
    border: 0;
    color: var(--clr-text);
    background: var(--clr-input);
}

:is(input[type="text"], select):focus {
    outline: none;
    box-shadow: inset 0 0 .25rem 0 var(--clr-inset-shadow);
}

input[type="text"], .item-eval {
    padding: .4em .55em;
}

input[type="text"] {
    min-width: 0;
}

select {
    font-weight: 550;
    padding: .4em .625em;
}

.styled-select > select {
    width: 100%;
}

@supports(mask-image: none) {
    .styled-select > select {
        appearance: none;
    }

    .styled-select {
        position: relative;
    }

    .styled-select::after {
        content: "";
        display: block;
        position: absolute;
        background: var(--clr-text);
        mask-image: url("../assets/img/select-arrow.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        height: 100%;
        width: .8rem;
        right: .7rem;
        top: 0;
        pointer-events: none;
    }

    @supports selector(:open) {
        .styled-select:has(> select:open)::after {
            rotate: 180deg;
        }
    }
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -.2rem;
    color: var(--clr-text);
    background: var(--clr-text);
    border: none;
    outline: none;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
}

input[type="range"]::-moz-range-thumb {
    background: var(--clr-text);
    border: none;
    outline: none;
    cursor: pointer;
}

input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: inset 0 0 .25rem 0 hsl(0, 0%, 0%, 40%);
}

input[type="range"]:focus::-moz-range-thumb {
    box-shadow: inset 0 0 .25rem 0 hsl(0, 0%, 0%, 40%);
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--accent-400) calc(var(--range-progress) * 100%), var(--clr-input) calc(var(--range-progress) * 100%));
    height: .6rem;
    border-radius: var(--border-radius-small);
}

input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, var(--accent-400) calc(var(--range-progress) * 100%), var(--clr-input) calc(var(--range-progress) * 100%));
    height: .6rem;
    border-radius: var(--border-radius-small);
}

.slider-container {
    margin-top: -.25rem;
    position: relative;
}

.slider-container .range-min, .slider-container .range-max {
    display: none;
}

.slider-container .range-value {
    position: absolute;
    right: 0;
    top: -1em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-text-soft);
}

/*********************** GAME SETTINGS ***********************/
#game-select-container {
    display: flex;
    gap: .5rem;
    align-items: stretch;
}

#game-select-container > .styled-select {
    flex: 1;
}


#datasetSelect {
    font-size: 1.4rem;
    padding: 0.5rem 0.875rem
}

#playButton {
    font-size: 1.2rem;
    padding-inline: 1rem;
}

#datasetSelect > option {
    font-size: 1.125rem;
}



/******************** GAME ******************************/
#progress-bar {
    background: var(--clr-input);
    border-radius: .15rem;
    height: .35rem;
    width: 100%;
    margin-block: .15rem;
}

#progress-bar::after {
    content: "";
    display: block;
    background: linear-gradient(to right, var(--accent-500), var(--accent-300));
    background-size: calc(100% / var(--progress, 1));
    width: calc(var(--progress, 0) * 100%);
    height: 100%;
    border-radius: inherit;
    transition: width 125ms ease-out;
}

#game-inputs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: -.25rem;
}

#item-buttons {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
}

#game-symbols {
    display: flex;
    gap: .6rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.35rem;
}

/*************** SYMBOLS, EVAL *******************/
.symbol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    font-weight: var(--symbol-weight, 400);

    box-sizing: content-box;
    height: 1em;
    padding: calc(.75rem + .1em) .225em;
    background: var(--clr-surface);
    border-radius: var(--border-radius-small);
    line-height: 1em;
}

.symbol-string {
    transform-origin: center;
}

#symbol-current {
    font-size: 7rem;
}

.hint-symbol {
    font-size: 5rem;
}




.item-eval .solution {
    font-style: italic;
    opacity: .75;
}

.item-eval .submitted:not(:empty) {
    margin-inline-end: .625rem;
}

.item-eval [data-correct="true"] {
    color: var(--text-green);
}

.item-eval:not(.best-mode:has([data-correct="true"])) [data-correct="partially"] {
    color: var(--text-yellow);
}

.item-eval:not(.best-mode:has([data-correct="true"])) [data-correct="false"] {
    color: var(--text-red);
}
