$borderRadiusSmall: .5rem;
$transitionHide: 75ms;
$bodyMaxWidth: 26rem;

@mixin button-events($clr-var-prefix) {
  background-color: var(#{$clr-var-prefix});
  border-color: var(#{$clr-var-prefix}-border, transparent);
  color: var(#{$clr-var-prefix}-text);

  @media (hover: hover) {
    &:hover, &.hover {
      background-color: var(#{$clr-var-prefix}-hover);
    }
  }

  &:active, &.active {
    background-color: var(#{$clr-var-prefix}-active);
  }
}

@import 'reset';
@import 'colors';
@import 'view-transitions';
@import 'fontawesome';

:root {
  --font-scale: 1;
  --font-shift: 0;
  --font-base-size: 1em;
  --letter-spacing: 0ch;
}

html {
  background-color: var(--clr-background);
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: system-ui, sans-serif;
  font-size: 1rem;

  max-width: $bodyMaxWidth;
  margin: auto;
  padding: 0.75rem;
}

.font-transform {
  transform-origin: left center;
  translate: calc(var(--letter-spacing) / 2) calc(var(--font-shift) * 1em);
  letter-spacing: var(--letter-spacing);
}

/****************** HEADINGS ******************/
h1 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.25;
  text-align: left;
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
}

.heading-with-buttons {
  display: flex;
  flex-direction: row;
  padding-inline: .125rem;
  align-items: center;

  &> :is(h1, h2) {
    color: var(--clr-text-accent);
    flex: 1;

    overflow: visible;
    text-wrap: nowrap;
    transform-origin: left center;

    display: flex;
  }

  &> .icon-button {
    align-self: center;
    padding: .125rem .25rem;
    margin-bottom: .1rem;
  }
}

#game-heading {
  margin-block-end: .3rem;

  &:has(> [dir="rtl"]) {
    flex-direction: row-reverse;
  }

  &> h1 {
    font-size: calc(var(--font-scale, 1) * 1.8rem);
    height: 2.4rem;
    align-items: end;
  }

  &> .icon-button {
    padding-inline: .5625rem;
    font-size: 1.0625rem;
  }
}

[dir="rtl"] ~ #stop-game-button {
  rotate: 180deg;
}

.element-heading-container {
  display: flex;
  gap: .15ch;

  .heading-element-symbol {
    font-size: 1em;
  }

  &> .heading-element {
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading-element-number {
      font-size: .625rem;
      translate: 0 0.45rem;
      width: 0;
      display: flex;
      justify-content: center;
    }
  }
}


/********************** BUTTONS *******************/
input[type="checkbox"], input[type="radio"] {
  &:has(+ .button) {
    display: none;
  }

  &:disabled + .button {
    opacity: .7;
    cursor: default;
    pointer-events: none;
  }
}


.button-group {
  display: flex;
  gap: .25rem;
  overflow-x: auto;
  border: none;

  &> .button {
    border-radius: 0;
    padding: .4em .625em;
    font-weight: 650;
    font-size: 1rem;
    text-wrap: nowrap;

    cursor: pointer;
    user-select: none;
    border: 1px solid var(--clr-grp-button-border);
    @include button-events("--clr-grp-button");

    &:first-of-type {
      border-top-left-radius: $borderRadiusSmall;
      border-bottom-left-radius: $borderRadiusSmall;
    }

    &:last-of-type {
      border-top-right-radius: $borderRadiusSmall;
      border-bottom-right-radius: $borderRadiusSmall;
    }
  }

  &> input:checked + .button {
    @include button-events("--clr-grp-button-checked");
  }
}



.button-accent, .button-grey {
  appearance: none;
  -webkit-appearance: none;
  background: var(--clr-button);
  font-weight: 700;
  padding: .5em .7em;
  border: 1px solid var(--clr-border-soft);
  border-radius: $borderRadiusSmall;
  cursor: pointer;
  color: var(--clr-button-text);

  @media (hover: hover) {
    &:hover {
      background: var(--clr-button-hover);
    }
  }

  &:active {
    background: var(--clr-button-active);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-border-light);
    outline-offset: -2px;
  }

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
    filter: grayscale(0.85);
  }
}

.button-grey {
  @each $suffix in ("", "-hover", "-active") {
    --clr-button#{$suffix}: var(--clr-button-grey#{$suffix});
  }
}


/****************** INPUTS, SELECT ***************/
input[type="text"], select, .item-eval {
  border-radius: $borderRadiusSmall;
  border: 1px solid var(--clr-border-soft);
  color: var(--clr-text);

  &:focus-visible {
    outline: 2px solid var(--accent-border);
    outline-offset: -1px;
  }
}

input[type="text"], .item-eval {
  padding: .5em .625em;
  background: var(--clr-input);
}

input[type="text"] {
  min-width: 0;
}

select {
  font-weight: 550;
  padding: .4em .625em;
  background: var(--clr-surface-standout);
}

.styled-select {
  position: relative;

  &> select {
    width: 100%;
    appearance: none;
  }

  &::after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 1.3125rem;
    color: var(--clr-text);
    display: grid;
    place-items: center;
    position: absolute;
    height: 100%;
    right: .75rem;
    top: 0;
    pointer-events: none;
  }

  &:has(> select:open)::after {
    rotate: 180deg;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -.2rem;
    color: white;
    background: white;
    box-shadow: 0 0 .2rem hsla(0, 0%, 50%, 1);
    border: none;
    outline: none;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }

  &::-moz-range-thumb {
    background: white;
    box-shadow: 0 0 .2rem hsla(0, 0%, 50%, 1);
    border: none;
    outline: none;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    background: #{'linear-gradient(to right, var(--accent-bg) calc(var(--range-progress) * 100%), var(--clr-range) calc(var(--range-progress) * 100%))'};
    height: .6rem;
    border-radius: $borderRadiusSmall;
  }

  &::-moz-range-track {
    background: #{'linear-gradient(to right, var(--accent-bg) calc(var(--range-progress) * 100%), var(--clr-range) calc(var(--range-progress) * 100%))'};
    height: .6rem;
    border-radius: $borderRadiusSmall;
  }

  &:focus {
    outline: none;
  }
}


.slider-container {
  margin-block: -.25rem;
  position: relative;

  .range-min, .range-max {
    display: none;
  }

  .range-value {
    position: absolute;
    right: 0;
    top: -1em;
    font-size: 1rem;
    font-weight: 700;
    color: var(--clr-text-soft);
  }
}


/*********************** SETTINGS ***********************/
.settings {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: .5rem;
}

.labeled-value-element {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: .1rem;
}

.labeled-value-element > label, .button-group legend {
  font-weight: 600;
  font-size: .9rem;
  color: var(--clr-text-soft);
}


#datasetSelect {
  font-size: 1.35rem;
  padding: 0.4rem 0.7rem;

  &> option {
    font-size: 1.125rem;
  }
}

#playButton {
  font-size: 1.2rem;
  padding: 0 .8rem;
}

#game-settings-ribbon {
  margin-block-start: .625rem;

  .ribbon-buttons {
    border-bottom: 1px solid var(--clr-border);
    padding-bottom: .625rem;
  }
}


.ribbon {
  background: var(--clr-surface);
  padding: .8rem;
  border: 1px solid var(--clr-surface-border);
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  gap: .6rem;

  .ribbon-buttons {
    gap: .5rem;
    --clr-grp-button-border: transparent;
    --clr-grp-button-checked-border: transparent;
    --clr-grp-button-text-checked: var(--clr-background);

    &> .button {
      @include button-events("--clr-ribbon-button");
    }

    &> input:checked + .button {
      @include button-events("--clr-ribbon-button-checked");
    }

    &> .button {
      border-radius: $borderRadiusSmall;
    }
  }

  &.contents-hidden {
    background: transparent;
    border-color: transparent;
  }
}

.pages-container {
  padding: .5rem 0;

  .pages-header {
    display: flex;
    padding: .5rem .25rem;
    border-bottom: 1px solid var(--clr-border-soft);
    align-items: center;

    .pages-headings {
      flex: 1;

      h2 {
        margin: 0;
      }
    }

    .pages-buttons {
      gap: .5rem;
    }

    button {
      padding: .4375rem .5625rem;
    }
  }

  .pages-contents {
    padding: .5rem .25rem;
  }
}

#live-settings {
  position: relative;
  margin-block: .4rem;
  --clr-surface: var(--clr-surface-standout);
  border-color: transparent;

  .ribbon-buttons {
    position: absolute;
    top: -2.75rem;
    left: 0;
    translate: 0;
  }
}

#font-settings {
  .font-family-setting > legend {
    display: none;
  }
}

#font-settings-button + label {
  padding-block: .25em;

  transition: background $transitionHide;

  &::before, &::after {
    content: "A";
    font-weight: 700;
  }

  &::before {
    font-size: 1.4rem;
  }

  &::after {
    font-size: 1rem;
  }
}


#page-settings-backdrop {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 50%, 0.16);
  z-index: 1;
}

#page-settings-container {
  position: fixed;
  height: 100vh;
  max-width: $bodyMaxWidth;
  margin-inline: auto;
  inset: 0;
  display: grid;
  place-items: center;
  padding: 1rem 1.75rem;
}

#page-settings {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background: var(--clr-background);
  padding: .75rem .875rem 1rem;
  box-shadow: 0 0 .25rem hsla(0, 0%, 50%, .125);
  border-radius: .5rem;
  z-index: 2;

  .heading-with-buttons {
    padding-block-end: .4rem;
    border-bottom: 1px solid var(--clr-border-soft);
    margin-block-end: .6rem;

    &> .icon-button {
      font-size: .9375rem;
      align-self: start;
    }
  }
}

#accentHueSlider input {
  &::-webkit-slider-thumb {
    background: var(--accent-bg);
    outline: .2rem solid white;
    outline-offset: -.2rem;
  }

  &::-moz-range-thumb {
    background: var(--accent-bg);
    outline: .2rem solid white;
    outline-offset: -.2rem;
  }

  &::-webkit-slider-runnable-track {
    background: #{'linear-gradient(in oklch longer hue to right, oklch(0.66 0.18 0), oklch(0.66 0.18 0))'};
  }

  &::-moz-range-track {
    background: #{'linear-gradient(in oklch longer hue to right, oklch(0.66 0.18 0), oklch(0.66 0.18 0))'};
  }
}


@import 'selector';


/******************** GAME ******************************/
#progress-bar {
  width: 100%;
  --height: .4rem;
  height: var(--height);
  background: var(--clr-range);
  border-radius: .2rem;
  transition: opacity $transitionHide;
  margin-block-end: .25rem;

  &::after {
    --gradient-base-size: 0.75;
    --width: var(--progress, 0);
    --gradient-scale: calc((var(--width) * (1 - var(--gradient-base-size)) + var(--gradient-base-size)));

    content: "";
    display: block;
    width: max(calc(var(--width) * 100%), var(--height));
    height: 100%;
    opacity: 1;
    background: linear-gradient(to right, oklch(0.54 0.18 var(--accent-hue)), oklch(0.64 0.155 var(--accent-hue)));
    background-size: calc(100% / (var(--gradient-scale) * var(--width)));
    border-radius: inherit;

    transition: width 125ms ease-out;
  }
}

#game-symbols-container {
  margin-inline: 1rem;
  padding-block: .5rem;
  margin-block: .5rem;
  position: relative;
  --box-shadow-width: .5rem;

  &::before, &::after {
    position: absolute;
    height: 100%;
    top: 0;
    content: " ";
    width: 1rem;
  }

  &::before {
    box-shadow: var(--box-shadow-width) 0 var(--box-shadow-width) calc(-0.5 * var(--box-shadow-width)) var(--clr-background) inset;
    left: 0;
  }

  &::after {
    box-shadow: calc(-1 * var(--box-shadow-width)) 0 var(--box-shadow-width) calc(-0.5 * var(--box-shadow-width)) var(--clr-background) inset;
    right: 0;
  }
}

#game-symbols {
  display: flex;
  gap: .625rem;
  align-items: center;
  margin-inline: auto;
  width: min-content;
  max-width: 100%;
  overflow: auto hidden;
}

#game-inputs, #game-evals {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  margin-block-end: .625rem;
}

#game-footer {
  display: flex;
  align-items: start;
  justify-content: end;
}



/*************** SYMBOLS, EVAL *******************/
.symbol-string {
  font-size: calc(var(--font-scale, 1) * var(--symbol-size, 1) * 1rem);
  line-height: calc(var(--font-scale, 1) * var(--symbol-size, 1) * var(--line-height, 1.1) * 1rem);
  height: calc(var(--symbol-size, 1) * var(--line-height, 1.1) * 1rem);
}

.symbol-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  max-width: calc(var(--symbol-size) * 1.8rem);
  flex-shrink: 0;

  font-weight: var(--symbol-weight, 400);

  background: var(--clr-symbol-bg);
  border-radius: $borderRadiusSmall;

  pointer-events: none;

  --symbol-size: 3.5;

  &:hover {
    pointer-events: auto;
  }

  .symbol-display-container {
    overflow: visible hidden;
    display: flex;
    justify-content: center;
  }

  .symbol {
    display: inline-flex;
    justify-content: center;
    box-sizing: content-box;
    padding: .25em .1em;
    min-width: .625em;
    transform-origin: center;
  }

  .symbol, .symbol-label {
    text-wrap: nowrap;
  }

  .symbol-label-container {
    width: 100%;
    height: 2.125em;
    padding-inline: .5em;
    border-top: 1px solid var(--clr-border);
    font-size: 1rem;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.symbol-reference {
    padding: .3rem .625rem .1rem;

    .symbol-label-container {
      font-size: 0.8125rem;
    }
  }
}

#symbol-current {
  --symbol-size: 6.25;
  padding: .4rem 1.25rem .2rem;

  &:has(+ .symbol-reference) {
    margin-inline: .5rem .25rem;
  }
}



.item-eval {
  .solution {
    font-style: italic;
    opacity: .75;
  }

  .submitted:not(:empty) {
    margin-inline-end: .75rem;
  }

  [data-correct="true"] {
    color: var(--text-green);
  }

  [data-correct="partially"] {
    color: var(--text-yellow);
  }

  [data-correct="false"] {
    color: var(--text-red);
  }

  &.best-mode:has([data-correct="true"]) {
    [data-correct="partially"], [data-correct="false"] {
      color: var(--clr-text);
    }
  }
}
