$selectorBorderRadius: .25rem;

@mixin button-events($clr-var-prefix) {
  background-color: var(#{$clr-var-prefix});
  border-color: var(#{$clr-var-prefix}-border, transparent);
  color: var(#{$clr-var-prefix}-text);

  @media (hover: hover) {
    &:hover, &.hover {
      background-color: var(#{$clr-var-prefix}-hover);
    }
  }

  &:active, &.active {
    background-color: var(#{$clr-var-prefix}-active);
  }
}


.item-selector {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &:not(:first-child) {
    margin-top: .375rem;
  }

  .selector-block {
    gap: .25rem;
    align-self: center;
    max-width: 100%;
    user-select: none;
    padding: 0 1rem;

    --clr-grp-button-text: hsl(0, 0%, 62%);
    --clr-grp-button-checked: hsla(0, 0%, 100%, .1);
    --clr-grp-button-checked-border: hsla(0, 0%, 100%, .45);
    --clr-grp-button-border: hsla(0, 0%, 100%, .25);

    --symbol-min-width: auto;
    --button-min-width: 0;
    --button-max-width: 1fr;
    --label-gap: .1rem;
    --symbol-size: 1.4;

    &.selector-block-grid {
      --gridTemplateColumns: repeat(var(--columns), minmax(var(--button-min-width), var(--button-max-width)));
      display: grid;
      grid-template-columns: var(--gridTemplateColumns);

      &.has-row-labels-start {
        grid-template-columns: auto var(--gridTemplateColumns);
      }

      &.has-row-labels-end {
        grid-template-columns: var(--gridTemplateColumns) auto;
      }

      &.has-row-labels-both {
        grid-template-columns: auto var(--gridTemplateColumns) auto;
      }

      .block-label {
        display: grid;
        place-items: center;
        border-radius: $selectorBorderRadius;
        padding: .1rem .2rem;
        cursor: pointer;
        font-size: .8rem;
        transition: background 75ms;
      }

      @media (hover: hover) {
        .block-label:hover {
          background: var(--clr-selector-button-hover);
        }
      }

      .block-label:active {
        background: var(--clr-selector-button-active);
      }

      .selector-item-button[aria-disabled="true"] {
        pointer-events: none;
        visibility: hidden;
      }
    }

    &.selector-block-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .selector-item-button {
        min-width: var(--button-min-width);
        max-width: var(--button-max-width);

        &[aria-disabled="true"] {
          display: none;
        }
      }
    }
  }

  .selector-item-button {
    @include button-events("--clr-selector-button");
    touch-action: none;
    cursor: pointer;
    transition: border $shortTransition, background $shortTransition, color $shortTransition;

    padding: .3rem 0;

    border-width: 1px;
    border-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--label-gap);

    border-radius: $selectorBorderRadius;

    &:active, &.active {
      border-color: var(--clr-selector-button-active-border);
    }

    &[aria-checked="true"] {
      @include button-events("--clr-selector-button-checked");

      color: var(--clr-text);

      &:active, &.active {
        color: var(--clr-selector-button-checked-active-symbol);
        border-color: var(--clr-selector-button-checked-active-border);
      }

      &> .symbol-label {
        color: var(--clr-selector-button-checked-active-label);
      }
    }
  }

  .symbol-string {
    min-width: var(--symbol-min-width);
    text-align: center;
    padding-inline: .25em;
    font-weight: 600;
    transform-origin: center;
  }
  //
  //.symbol-form {
  //  view-transition-name: match-element;
  //}

  .selector-item-label {
    font-weight: 400;
    font-size: .8rem;
    text-overflow: ellipsis;
    padding-inline: .3em;
    pointer-events: none;
  }

  // Gap between second and third main group
  &[data-dataset="elements"] {
    .selector-block[data-block-index="0"] {
      --gridTemplateColumns:
              repeat(2, minmax(var(--button-min-width), var(--button-max-width)))
              0rem
              repeat(6, minmax(var(--button-min-width), var(--button-max-width)));
    }
  }
}
