@mixin set-vt-anim($type, $property, $value) {
  &:active-view-transition-type(#{$type}) {
    &::view-transition-group(*) {
      #{"animation-" + $property}: $value;
    }
  }
}

@supports (view-transition-name: none) {
  html {
    &:active-view-transition {
      :root {
        view-transition-name: none;
      }

      &::view-transition-group(*) {
        animation-duration: 125ms;
        animation-timing-function: ease-in-out;
      }
    }

    @include set-vt-anim(ease-in, timing-function, ease-in);
    @include set-vt-anim(ease-out, timing-function, ease-out);
    @include set-vt-anim(page-settings, duration, 80ms);
  }
}