@mixin set-vt-anim($type, $property, $value) {
  &:active-view-transition-type(#{$type}) {
    &::view-transition-group(*) {
      #{"animation-" + $property}: $value;
    }
  }
}

@supports (view-transition-name: none) {
  html {
    &:active-view-transition {
      :root {
        view-transition-name: none;
      }
    }

    @include set-vt-anim(ease-in, timing-function, ease-in);
    @include set-vt-anim(ease-out, timing-function, ease-out);
    @include set-vt-anim(page-settings, duration, 150ms);
    @include set-vt-anim(selector-forms, duration, 150ms);
    @include set-vt-anim(game, duration, 100ms);
  }

  ::view-transition-group(*) {
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
  }

  ::view-transition-new(.text),
  ::view-transition-old(.text) {
    height: 100%;
    object-fit: none;
  }

  ::view-transition-new(.text-container),
  ::view-transition-old(.text-container),
  ::view-transition-new(.progress-bar),
  ::view-transition-old(.progress-bar) {
    height: 100%;
  }
}